# yt-dlp==2023.12.30
# opencv-python==4.8.1.78
# google-generativeai>=0.7.0
# numpy==1.26.1

opencv-python==4.8.1.78
openai==1.12.0
httpx==0.26.0
yt-dlp==2023.12.30
numpy==1.26.1
ipython>=8.18.1
python-dotenv>=1.0.0